.posts_row {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
}
@media only screen and (min-width:768px){
    .posts_row {
        grid-template-columns: repeat(2, 1fr);
}
}
@media only screen and (min-width:992px){
    .posts_row {
        grid-template-columns: repeat(4, 1fr);
}
}
.post_thumb a img {
    width: 100%;
}
.posts__meta_info_wrap {
    display: flex;
    align-items: center;
    gap: 25px;
    margin:10px 0;
    font-family: 'Inter';
}
.posts__category h3 {
    margin-top: 10px;
    font-size: 16px;
    font-weight: 400;
    color: #262420;
    font-family: 'Inter';
}
.post_published_date h3 {
    font-size: 17px;
    color: #262420;
    font-weight: 400;
    margin:0px;
    font-family: 'Inter';
}
.posts_text__info a {
    color: var(--e-global-color-secondary);
    font-size: 17px;
    line-height:1.2em;
    font-weight: 500;
    transition: all 0.3s;
    margin:0px;
    font-family: 'Inter';
}
.posts_text__info a:hover{
    color: var(--e-global-color-secondary);
}
@media only screen and (min-width:768px){
    .posts_text__info a {
    font-size: 19px;
}
}
